/JavaBasic/ExerciciosJava/Calculadora/nbproject/private/
/JavaBasic/ExerciciosJava/Calculadora/build/
JavaBasic/ExerciciosJava/Calculadora/manifest.mf
/JavaBasic/ExerciciosJava/Calculadora/dist/
/JavaBasic/AulasJava/JogoGenio/nbproject/private/
/JavaBasic/AulasJava/JogoGenio/build/
/JavaBasic/ExerciciosJava/JogoGenio/build/
/JavaBasic/ExerciciosJava/JogoGenio/nbproject/private/
/JavaBasic/AulasJava/JavaApplication18/nbproject/private/
/JavaBasic/AulasJava/Condicoes/nbproject/private/
/JavaBasic/AulasJava/Condicoes/build/
/JavaBasic/AulasJava/ProgramaNotas/nbproject/private/
/JavaBasic/AulasJava/ProgramaParImparSwing/nbproject/private/
/JavaBasic/AulasJava/ProgramaParImparSwing/build/
