/JavaBasic/ExerciciosJava/EquacaoSegundoGrau/nbproject/private/
/JavaBasic/ExerciciosJava/EquacaoSegundoGrau/build/
/JavaBasic/ExerciciosJava/CondicoesP2/nbproject/private/
/JavaBasic/ExerciciosJava/CondicoesP2/build/
/JavaBasic/ExerciciosJava/ProgramaVoto/nbproject/private/
/JavaBasic/ExerciciosJava/ProgramaVoto/build/
/JavaBasic/ExerciciosJava/ProjetoTriangulo/nbproject/private/
/JavaBasic/ExerciciosJava/ProjetoTriangulo/build/
/JavaBasic/AulasJava/Contador01/nbproject/private/
/JavaBasic/AulasJava/Contador01/build/
/JavaBasic/AulasJava/Contador02/nbproject/private/
/JavaBasic/AulasJava/Contador02/build/
/JavaBasic/ExerciciosJava/ProjetoFatorial/nbproject/private/
/JavaBasic/ExerciciosJava/ProjetoFatorial/build/
