/JavaBasic/ExerciciosJava/EquacaoSegundoGrau/nbproject/private/
/JavaBasic/ExerciciosJava/EquacaoSegundoGrau/build/
/JavaBasic/ExerciciosJava/CondicoesP2/nbproject/private/
/JavaBasic/ExerciciosJava/CondicoesP2/build/
/JavaBasic/ExerciciosJava/ProgramaVoto/nbproject/private/
/JavaBasic/ExerciciosJava/ProgramaVoto/build/
/JavaBasic/ExerciciosJava/ProjetoTriangulo/nbproject/private/
/JavaBasic/ExerciciosJava/ProjetoTriangulo/build/
